.circle1 {
border-radius: 50%;
width: 500px;
height: 500px;
background-color: black
}
.circle-2 {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: white;
  margin-bottom: 20px;
}
.position {
  position: absolute;
  top: 17%;
  left: 43%;
}

#input{
	color: white;
}
.answer{
	text-align: center;
	margin-top: 50%;
}
